*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  background-color: rgb(190, 190, 190);
  height: 1000px;
  width: 100%;
}

.display{
  background-color: white;
  border: solid 1px;
  margin: 50px;
  position: absolute;
  height: 400px;
  width: 550px;
}

.rightSide{
  margin: 50px;
  position: absolute;
  height: 400px;
  width: 370px;
  left: 600px;
}

.title{
  background-color: rgb(215, 215, 215);
  border: solid 1px;
  height: 50px;
  width: 100%;
}

.keyboard{
  background-color: rgb(41, 41, 41);
  height: 300px;
  width: 100%;
  text-align: center;
}

.actionButtons{
  background-color: rgb(41, 41, 41);
  height: 70px;
  width: 100%;
  text-align: center;
}

.numberButton{
  background-color: rgb(0, 0, 0);
  margin: 10px;
  height: 50px;
  width: 80px;
  text-align: left;
}

.whiteButton{
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
}

.redButton{
  background-color: rgb(193, 0, 0);
  margin: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
}

.greenButton{
  background-color: rgb(16, 120, 0);
  margin: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
}

.buttonNumberText{
  color: rgb(255, 255, 255);
  font-size: 200%;
  margin: 5px;
}

.buttonActionText{
  color: rgb(0, 0, 0);
  font-size: 120%;
  font-weight: bold;
  margin: 5px;
}